@model PagedList.IPagedList<HedHome.Models.HedDataModel.Course>
@using PagedList.Mvc;


@{
    ViewData["Title"] = "Course Skills";
}
<a id='atop'></a>
<div id='anchortop'>
    <a href="#atop">
        <img src='images/uparrow.png'
             style='width: 50px; height: auto;' />
    </a>
</div>
<h2>Your course skills</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text"
                                       placeholder="Title"
                                       id="searchTitle"
                                       class="input-search" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th>
            <th>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text"
                                       placeholder="Course Number"
                                       id="searchCourseNumber"
                                       class="input-search" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th>
            <th>
                Description
            </th>
            <th>
                Skills
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@Html.DisplayFor(modelItem=> item.Id)" class="tr-course">
                <td id="td-title-@Html.DisplayFor(modelItem=> item.Id)">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td id="td-course-number-@Html.DisplayFor(modelItem=> item.Id)">
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    @foreach (var skill in item.Skills)
                    {
                        @skill.Name<br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit Skills</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="paginationdiv">
    <div id="paginationdivinner">
        <ul class="pagination" id="paginationul" style="margin: 0;">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#top">1 </a></li>
            <li><a href="#"><span>&raquo;</span></a></li>
        </ul>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        (function () {
            $('#searchTitle').keyup(function (e) {
                var input = e.target.value;
                $('.tr-course').each(function (i, tr) {
                    tr.style.display = "none";
                    var val = $('#td-title-' + tr.getAttribute('id')).text();
                    if (val.toLowerCase().indexOf(input.toLowerCase()) !== -1) {
                        tr.style.display = "table-row";
                    }
                })
            })
            $('#searchCourseNumber').keyup(function (e) {
                var input = e.target.value;
                $('.tr-course').each(function (i, tr) {
                    tr.style.display = "none";
                    var val = $('#td-course-number-' + tr.getAttribute('id')).text();
                    if (val.toLowerCase().indexOf(input.toLowerCase()) !== -1) {
                        tr.style.display = "table-row";
                    }
                })
            })
            @{
        var currentPage = ViewData["currentPage"];
        var totalCount = ViewData["totalCount"];
                }

            paginate(@totalCount,@currentPage);
        })();
    </script>
}
