@model IEnumerable<HedHome.Models.HedDataModel.Course>

@{
    ViewData["Title"] = "Course Skills";
}
<a id='atop'></a>
<div id='anchortop'>
    <a href="#atop">
    </a>
</div>
<h2>Your course skills</h2>
<label for="select-perPage">Results per page:</label>
<select id="select-perPage">
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
    <option value="500">500</option>
</select>
<table id="courseTable" class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text"
                                       placeholder="Title"
                                       id="searchTitle"
                                       class="input-search" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th>
            <th>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text"
                                       placeholder="Course Number"
                                       id="searchCourseNumber"
                                       class="input-search" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th>
            <th>
                Description
            </th>
            <th>
                Skills
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @foreach (var item in Model)
        {
            <tr id="@Html.DisplayFor(modelItem => item.Id)" row-id="@(i++)" class="tr-course" style="display: none;">
                <td>@i</td>
                <td id="td-title-@Html.DisplayFor(modelItem=> item.Id)">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td id="td-course-number-@Html.DisplayFor(modelItem=> item.Id)">
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    @foreach (var skill in item.Skills)
                    {
                        @skill.Name<br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit Skills</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="paginationdiv">
    <div id="paginationdivinner">
        <ul class="pagination" id="paginationul" style="margin: 0;">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#top">1 </a></li>
            <li><a href="#"><span>&raquo;</span></a></li>
        </ul>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        (function () {
            $('#searchTitle').keyup(function (e) {
                $('#paginationdiv').hide();
                var input = e.target.value;
                $('.tr-course').each(function (i, tr) {
                    tr.style.display = "none";
                    var val = $('#td-title-' + tr.getAttribute('id')).text();
                    if (val.toLowerCase().indexOf(input.toLowerCase()) !== -1) {
                        tr.style.display = "table-row";
                    }
                })
                if (input === "") {
                    paginate(1);
                    $('#paginationdiv').show();
                }
            })
            $('#searchCourseNumber').keyup(function (e) {
                $('#paginationdiv').hide();
                var input = e.target.value;
                $('.tr-course').each(function (i, tr) {
                    tr.style.display = "none";
                    var val = $('#td-course-number-' + tr.getAttribute('id')).text();
                    if (val.toLowerCase().indexOf(input.toLowerCase()) !== -1) {
                        tr.style.display = "table-row";
                    }
                })
                if (input === "") {
                    paginate(1);
                    $('#paginationdiv').show();
                }
            })
            @{
                var currentPage = ViewData["currentPage"];
                var perPage = ViewData["perPage"];
                var totalCount = Model.Count();
                }
            $('#select-perPage').val(@perPage);
            $('#select-perPage').change(function () {
                paginate(1, $(this).val());
            })
            paginate(@currentPage,@perPage,@totalCount);
        })();
    </script>
}
